@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0%;
    padding: 0%;

}

body {
    height: 100vh;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    background: url('../img/background.jpg') no-repeat center / cover fixed;
    /* overflow: hidden; */
}

header {
    background: rgb(176, 145, 245);

}

ul {
    display: flex;
    padding: 30px;
    justify-content: end;
}

li {
    list-style: none;
    margin-right: 25px;
}

a {
    color: rgb(135, 66, 72);
    text-decoration: none;
    font-size: large;
    font-weight: bolder;
    color: rgb(1, 9, 16);
    border-radius: 0%;
}

i {
    position: absolute;
    top: 25px;
    left: 50px;
    size-adjust: 50%;
    display: flex;
    padding: 5px;
}

a:hover {
    color: rgb(236, 229, 229);
}


.container {
    height: 100vh;
    display: flex;
}

.left {
    height: 100vh;
    width: 50vw;
}

.right {
    height: 100vh;
    width: 50vw;
}

.content {
    position: relative;
    top: 15%;
    padding: 0px 50px;
}

.title {
    color: rgb(3, 61, 61);
    margin-top: 10px;
    font-size: 40px;
    line-height: 50px;
}

.para {
    margin-top: 10px;
    line-height: 20px;
}

.btn {
    outline: none;
    border: none;
    background: wheat;
    border-radius: 40px;
    color: black;
    font-size: 18px;
    font-weight: bolder;
    padding: 10px 40px;
    margin-top: 10px;
    transition: 0.5s;
}

.btn:hover {
    background: rgb(244, 117, 117);
}

.imgContainer {
    position: relative;
    top: 6%;
    left: 15%;
}

.aboutContainer {
    display: flex;
    height: 100vh;

}

.aboutTitle {
    color: rgb(3, 61, 61);
    margin-bottom: 10px;
    font-size: 40px;
    line-height: 50px;

}

.aboutContent {
    position: relative;
    top: 15%;
    padding: 0px 50px;
    right: 10px;
}

.aboutRight {
    height: 100vh;
    width: 50vw;
    position: relative;
    right: 50px;
}

.aboutLeft {
    height: 100vh;
    width: 50vw;
    position: relative;
    left: 20px;
}

.aboutPara {
    margin-top: 10px;
    line-height: 20px;

}

.servContainer {

    height: 100vh;
    display: flex;
}

.servContent {
    position: relative;
    top: 15%;
    padding: 0px 50px;
    right: 10px;
    display: flex;
}


.servLeft {

    height: 100vh;
    width: 50vw;
    position: relative;
    left: 20px;
}

.servRight {

    height: 100vh;
    width: 50vh;
    position: relative;
    left: 50px;


}

.servImg {

    position: relative;
    top: 6%;
    left: 15%;
}

.servPara {
    margin-top: 10px;
    line-height: 20px;
}

.contactContainer {
    height: 100vh;

    color: rgb(7, 6, 117);
}

.contactContent {
    display: flex;
    margin-left: 20px;
}

input {
    outline: none;
    border: none;
    font-size: 18px;
    border-bottom: 3px solid #ccc;
    margin-bottom: 10px;
    background: transparent;
    color: #241f1f;
    line-height: 50px;
}

h1 {
    font-size: 50px;
    margin-top: 23px;
    line-height: 50px;
}

.contactLeft {
    height: 100vh;
    width: 50vw;
    position: relative;
    left: 20px;
    padding: 0px 40px;
}

.contactRight {
    height: 100vh;
    width: 50vw;
}

.contactImg {
    position: relative;
    right: 35px;
}